.App {
  margin: 0 20px;
}

img {
  max-width: 100%;
}

ul {
  text-align: left;
}

.cards {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.card {
  width: 300px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card > *:not(:last-of-type) {
  border-bottom: 1px solid;
}

.card-heading > h2 {
  margin-bottom: 0;
}

.card-heading > p {
  margin-top: 0;
  font-style: italic;
}

.card-actions {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
